.modal {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

.modal.show {
    visibility: visible;
    opacity: 1;
}
.suppr-buttons{
    height: 75px;
}




